<script src="~/Scripts/ViewModels/IDViewModel.js"></script>
<script src="~/Scripts/ViewModels/BaseViewModel.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/knockout-3.3.0.js"></script>
<script src="~/Scripts/knockout.mapping-latest.js"></script>
<link href="~/Content/toastr.css" rel="stylesheet" />
<script src="~/Scripts/toastr.js"></script>
<div class="jumbotron">
    <h1> <a style="color:red"> SA ID </a>MANGEMENT SYSTEM</h1>
    <p class="lead" style="color:lightcoral; font-size: 20px; text-transform: uppercase">Please type in ID Number to verify status it status</p>

</div>
<div class="container" style="text-align: center">
    <form class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="idNumber">ID Number</label>
            <input type="text" id="idNumber"  class="form-control" id="idNumber" placeholder="ID Number" data-bind="value: SAIdValue">
        </div>
        <button type="button" class="btn btn-primary" data-bind="click: $root.verify">Verify ID</button>
        <button type="button" class="btn btn-success" data-bind="click: $root.generate">Generate</button>
    </form>
    <br />
    <br />
    <a class="generatedId" data-bind="text: GeneratedId"></a>
    <br />
    <br />



</div>
<table align="center" class="home-Page">
    <tbody>
        <tr>
            <td style="text-align: left">South African ID Number:</td>
            <td class="displayValue"><div style="margin-right:5px;" data-bind="text: SAId">n/a</div></td>
        </tr>
        <tr>
            <td style="text-align: left">Birth Date:</td>
            <td class="displayValue"><div style="font-weight:bold;margin-right:5px;" data-bind="text: DateConverter">n/a</div></td>
        </tr>
        <tr>
            <td style="text-align: left">Gender:</td>
            <td class="displayValue"><div style="font-weight:bold;margin-right:5px;" data-bind="text: Gender">n/a</div></td>
        </tr>
        <tr>
            <td style="text-align: left">Age:</td>
            <td class="displayValue"><div style="font-weight:bold;margin-right:5px;" data-bind="text: Age">n/a</div></td>
        </tr>
        <tr>
            <td style="text-align: left">SA Citizen:</td>
            <td class="displayValue"><div style="font-weight:bold;margin-right:5px;" data-bind="text: IsCitizen">n/a</div></td>
        </tr>
    </tbody>
</table>

<script>
    $(document).ready(function () {
        var idVm = new IdViewModel();
        ko.applyBindings(idVm);
    })
</script>